
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479733620'); /* IE9*/
  src: url('iconfont.eot?t=1479733620#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479733620') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479733620') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479733620#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-siglyphcherry:before { content: "\e600"; }
.icon-iconfontshuiguo:before { content: "\e601"; }
.icon-cherry:before { content: "\e602"; }
.icon-cherry1:before { content: "\e603"; }
.icon-cherry2:before { content: "\e604"; }
.icon-Cherry:before { content: "\e605"; }
.icon-cherry3:before { content: "\e606"; }
.icon-Cherry1:before { content: "\e607"; }
